In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
df = pd.read_csv("data/Dataset_1_EV_charging_reports.csv", sep=';')
df.head()

,session_ID,Garage_ID,User_ID,User_type,Shared_ID,Start_plugin,Start_plugin_hour,End_plugout,End_plugout_hour,El_kWh,Duration_hours,month_plugin,weekdays_plugin,Plugin_category,Duration_category
0,1,AdO3,AdO3-4,Private,NaN,21.12.2018 10:20,10,21.12.2018 10:23,10.0,"0,3","0,05",Dec,Friday,late morning (9-12),Less than 3 hours
1,2,AdO3,AdO3-4,Private,NaN,21.12.2018 10:24,10,21.12.2018 10:32,10.0,"0,87","0,136666667",Dec,Friday,late morning (9-12),Less than 3 hours
2,3,AdO3,AdO3-4,Private,NaN,21.12.2018 11:33,11,21.12.2018 19:46,19.0,"29,87","8,216388889",Dec,Friday,late morning (9-12),Between 6 and 9 hours
3,4,AdO3,AdO3-2,Private,NaN,22.12.2018 16:15,16,23.12.2018 16:40,16.0,"15,56","24,41972222",Dec,Saturday,late afternoon (15-18),More than 18 hours
4,5,AdO3,AdO3-2,Private,NaN,24.12.2018 22:03,22,24.12.2018 23:02,23.0,"3,62","0,970555556",Dec,Monday,late evening (21-midnight),Less than 3 hours

In [21]:
df.shape

(6878, 15)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6878 entries, 0 to 6877
Data columns (total 15 columns):
session_ID           6878 non-null int64
Garage_ID            6878 non-null object
User_ID              6878 non-null object
User_type            6878 non-null object
Shared_ID            1412 non-null object
Start_plugin         6878 non-null object
Start_plugin_hour    6878 non-null int64
End_plugout          6844 non-null object
End_plugout_hour     6844 non-null float64
El_kWh               6878 non-null object
Duration_hours       6844 non-null object
month_plugin         6878 non-null object
weekdays_plugin      6878 non-null object
Plugin_category      6878 non-null object
Duration_category    6844 non-null object
dtypes: float64(1), int64(2), object(12)
memory usage: 806.1+ KB

In [41]:
df['El_kWh'] = df['El_kWh'].apply(str).str.replace(',', '.').astype(float)
df['Duration_hours'] = df['Duration_hours'].apply(str).str.replace(',', '.').astype(float)

In [42]:
df[['El_kWh','Duration_hours']].describe()

            El_kWh  Duration_hours
count  6878.000000     6844.000000
mean   1152.785839       11.504440
std    1158.900283       14.148168
min       1.000000        0.003333
25%     404.250000        2.789028
50%     805.000000       10.026250
75%    1500.500000       15.221181
max    8086.000000      255.029444